body {
    background-color: #ffffff;
    color: #ff0000;
}

nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

#memeImage {
    margin-right: 200px;
    background-image: url('meme.jpeg')
    background-size: cover
    background-position: center
}

header {
    text-align: center;
}
