/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #005A9C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background: #005A9C;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #005A9C;
    color: #ffffff;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav h2, nav a {
        text-align: center;
        display: block;
    }
    table, th, td {
        font-size: smaller;
    }
}
