/* style.css content */

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#memeImage {
    position: absolute;
    width: 100px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out; /* Smooth transition for movement */
}

.button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #007bff; /* Bootstrap blue */
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Darken the button on hover */
}

#startButton {
    background-color: #28a745; /* Bootstrap green */
}

#startButton:hover {
    background-color: #218838; /* Darken the green button on hover */
}

#stopButton {
    background-color: #dc3545; /* Bootstrap red */
}

#stopButton:hover {
    background-color: #c82333; /* Darken the red button on hover */
}

#stopButton:disabled,
#startButton:disabled {
    background-color: #6c757d; /* Bootstrap grey */
    cursor: not-allowed;
}
